{% extends "html/base.html" %}
{% load static %}

{% block title %}Login{% endblock title %}
{% block links %}
<link rel="stylesheet" href=" {% static "css/login.css" %} ">
{% endblock links %}

{% block content %}
        
        
    <div class="d-flex justify-content-center align-items-center">
        <div class="row bg-white shadow-lg rounded stracture">
            <!-- Left Side: Form -->
            <div class="col-sm-5 d-flex align-items-center">
                <div class="signin">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <h4 class="greet">Let's Login to</h4>
                        <a href="{% url "home" %}" class="signin-logo">SEUCC</a>
                        <p class="ptext">Join with us to Learn, Showcase and Fun.</p>
                        <!-- Displaying the form fields -->
                    

                        {% for data in form %}
                            <div class="mb-3 input-group-text">
                                {% if data.name == "username" %}
                                    <i class="fa-solid fa-user"></i>{{data}} {{data.tags|striptags}} <br>
                                {% elif data.name == "password" %}
                                    <i class="fa-solid fa-lock"></i>{{data}} {{data.tags|striptags}} <br>
                                
                                {% else %}
                                    <i class="fa-solid fa-check"></i>{{data}} {{data.tags|striptags}} <br>
                                {% endif %}
                            </div>
                        {% endfor %}
                        <p class="log_text">Don't have an account? <a class="inner_link" href=" {% url "signup" %} ">Signup</a></p>
                        <input type="submit" value="Login" class="btn btn-warning w-100 login_button">
                    </form>
                </div>
            </div>
            
            <!-- Right Side: Image -->
            <div class="col-sm-7 images d-flex align-items-center justify-content-center">
                <div class="image">
                    <img src="{% static "img/login.jpg" %}" alt="Login Image" class="img-fluid rounded" style="max-height: 500px;">
                </div>
            </div>
        </div>
    </div>



{% endblock content %}