
.floating-messages{
    margin: 20px 10px 0 0 !important;
    position: relative !important;
    z-index: 1 !important;
    float: right !important;
} 


.photo{
    height: 400px;
    width: 100%;
}

.user_photo{
    display: cover;
}

.user_photo img{
    width: auto;
    height: 400px;
    object-fit: cover;
}

.user{
    width: auto;
    height: 200px;
}

.search{
    z-index: 0 !important;
}

